@model HotelMgmt.Models.BookRoomViewModels

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("DownloadFile", "BookRoom"))
{
    <h2>Details</h2>

    <div>
        <h4>Booking Details</h4>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.Label("Room Type")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RoomTpe)
            </dd>

            <dt>
                @Html.Label("From Date")
            </dt>

            <dd>
                @Html.DisplayFor(model => Convert.ToDateTime(model.FromDt).Date)
            </dd>

            <dt>
                @Html.Label("To Date")
            </dt>

            <dd>
                @Html.DisplayFor(model => Convert.ToDateTime(model.ToDt).Date)
            </dd>

            <dt>
                @Html.Label("Customer Name")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustomerName)
            </dd>

            <dt>
                @Html.Label("Total Amount")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalAmt)
            </dd>
        </dl>


        <input type="submit" value="Download Receipt" />

        
    </div>
}
