@model HotelMgmt.Models.BookRoomViewModels

@{
    ViewBag.Title = "Book your room";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery-ui.min.js")
    @Scripts.Render("~/Stylesheet/jquery-ui.min.css")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")

    <script type="text/javascript">
        var today = new Date();

        $('[type=datetime]').datepicker({
            dateFormat: "dd/M/yy",
            changeMonth: true
        });

        $("#ChkAvail").on("click", function () {
            var frmDt = $('#FromDt').val();
            var toDt = $('#ToDt').val();
            var url = "/BookRoom/CheckAvail?fdt=" + frmDt + "&tdt=" + toDt;


            $.get(url, function (data) {

                if (data == "Available") {

                    $("#result").html("<span style='color:green'>Available</span>");
                    $("#FromDt").css('background-color', '');
                    $("#ToDt").css('background-color', '');
                }

                else {
                    $("#result").html("<span style='color:red'>Not Available</span>");
                    $("#FromDt").css('background-color', '#e97878');
                    $("#ToDt").css('background-color', '#e97878');
                }
            });
            return false;
        });
    </script>
}


<h2>Book Your Room</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.BookingId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BookingId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BookingId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoomId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RoomId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RoomId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoomTpe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.RoomTpe, new { @Value = ViewBag.roomtype, @readonly = "true" })
            </div>
        </div>

        <div class="form-group" id="divFromDt" data-provide="datepicker">
            @Html.LabelFor(model => model.FromDt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FromDt, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FromDt, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ToDt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ToDt, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                @Html.ValidationMessageFor(model => model.ToDt, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.ActionLink("Check Availability", "CheckAvail", "BookRoom", null, new { @class = "btn btn-save", id = "ChkAvail" })
            <span id="result" />
        </div>
        @*<div class="form-group">
                @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TotalAmt, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TotalAmt, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TotalAmt, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TransactionType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TransactionType, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TransactionType, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

