@model HotelMgmt.Models.tbl_RoomInfo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>View Room Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Room Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room_name)
        </dd>

        <dt>
            @Html.Label("Room Type")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room_type)
        </dd>

        <dt>
            @Html.Label("Room Price")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room_price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.room_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
